@inject SignInManager<ApplicationUser> signInManager;
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("User") || User.IsInRole("Administrator")))
    {
        <form method="post" asp-controller="Search" asp-action="Search">
            <input onkeyup="onSearch()" id="searchInput" name="searchInput" class="mt-5 mb-2" type="search" placeholder="Search product" aria-label="Search">
            <input id="searchCity" name="city" type="search" placeholder="In city" aria-label="Search city">
            <br />
            <button disabled="disabled" id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    }
    else if (signInManager.IsSignedIn(User) && User.IsInRole("Pharmacy"))
    {
        <h3 class="mt-3">Manage you pharmacy</h3>
        <div class="text-center">
            <a class="btn btn-primary mt-5" asp-controller="Products" asp-action="Create">Add new product</a>
            <a class="btn btn-primary mt-5" asp-controller="Products" asp-action="Available" asp-route-userName="@User.Identity.Name">View all available products</a>
            <h3 class="m-5">Import data from excel file</h3>
            <div class="custom-file">
                <label class="custom-file-label">Choose file...</label>
                <input type="file" id="postedFile" name="postedFile" class="form-control custom-file-input" />
                <button class="btn btn-primary" type="submit" onclick="onImport()">Import</button>
            </div>
        </div>
    }
</div>
@if (Model != null && Model.Any())
{
    <div class="container">
        <h3 class="text-center mt-3 mb-3">Your search has found @Model.Count matches:</h3>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4 mb-4">
                    <h2 class="text-center">@product.Name</h2>
                    <img class="uploaded-image mt-3 mb-5" src="/Images/@product.PhotoPath" asp-append-version="true" />
                    <p>Price: @product.Price</p>
                    <p>In city: @product.City</p>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="text-center mt-5"></div>
}

@section Scripts {
    <script>
        $(document).ready(() => {
            $('.custom-file-input').on('change', (inputFileControl) => {
                const fileName = inputFileControl.target.value.split('\\').pop();
                const labelElement = $('.custom-file-label');

                labelElement.html(fileName);
            });
        });
    </script>
}

<script src="~/js/eventHandlers.js"></script>